.spotify-widget
  margin: $spacing-lg

  .header
    font-family: $font-title
    font-size: $f7
    font-weight: 700
    font-style: italic
    text-transform: uppercase
    padding: $spacing-sm $spacing-md

  iframe
    border: 0
    width: 320px
    height: 80px
