.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.function {
  color: var(--color-pink-400);
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  color: var(--color-primary);
}

.token.attr-value,
.token.class,
.token.string {
  color: var(--color-sky-500);
}

.token.punctuation,
.token.attr-equals {
  color: var(--color-neutral-500);
}

.token.attr-value * {
  color: var(--color-sky-500);
}

.token.attr-value .attr-equals,
.token.attr-value .attr-equals + .punctuation,
.token.attr-value > .punctuation:last-child {
  color: var(--color-neutral-500);
}

.token.property {
  color: var(--color-sky-500);
}

.token.unit {
  color: var(--color-teal-200);
}

.language-css .token.function {
  color: var(--color-teal-200);
}

.token.comment,
.token.module,
.token.operator,
.token.combinator {
  color: var(--color-neutral-400);
}
