@import 'normalize.css/normalize.css'

@font-face
  font-family: 'Fivo Sans'
  font-style: normal
  font-weight: 400
  src: url('static/fonts/fivo-sans/Fivo-Regular.otf') format('opentype')

@font-face
  font-family: 'Fivo Sans'
  font-style: italic
  font-weight: 400
  src: url('static/fonts/fivo-sans/Fivo-Oblique.otf') format('opentype')

@font-face
  font-family: 'Fivo Sans'
  font-style: normal
  font-weight: 500
  src: url('static/fonts/fivo-sans/Fivo-Medium.otf') format('opentype')

@font-face
  font-family: 'Fivo Sans'
  font-style: italic
  font-weight: 500
  src: url('static/fonts/fivo-sans/Fivo-Medium-Oblique.otf') format('opentype')

@font-face
  font-family: 'Fivo Sans'
  font-style: normal
  font-weight: 700
  src: url('static/fonts/fivo-sans/Fivo-Bold.otf') format('opentype')

@font-face
  font-family: 'Fivo Sans'
  font-style: italic
  font-weight: 700
  src: url('static/fonts/fivo-sans/Fivo-Bold-Oblique.otf') format('opentype')

@font-face
  font-family: 'Fivo Sans'
  font-style: normal
  font-weight: 800
  src: url('static/fonts/fivo-sans/Fivo-Heavy.otf') format('opentype')

@font-face
  font-family: 'Fivo Sans'
  font-style: italic
  font-weight: 800
  src: url('static/fonts/fivo-sans/Fivo-Heavy-Oblique.otf') format('opentype')

html
  font-family: $font-normal

body
  background: $white
  font-size: $f6
  font-weight: 300
  color: $near-black

h1, h2, h3, h4, h5, h6
  font-family: $font-title
  font-weight: 500

hr
  margin: $spacing-lg 0
  border: 0
  height: 1px
  background: linear-gradient(to right, $white, $light-silver, $white)

blockquote
  overflow: hidden
  margin: $spacing-sm 0
  padding: 0 $spacing-md
  background: $near-white
  color: $mid-gray
  border-left: 5px solid $light-silver

code
  font-family: $font-monospace
  font-size: $f7
  font-weight: 400

pre
  font-family: $font-monospace
  font-size: $f7

del
  color: $mid-gray
  text-decoration: line-through
  text-decoration-color: $silver

table
  overflow: hidden
  width: 100%
  margin: $spacing-sm 0
  border-collapse: collapse

  th
    font-weight: 600
    padding-right: $spacing-md

  td
    padding-right: $spacing-md

a
  transition: all 250ms ease

article

  a, a:visited
    color: $blue
    text-decoration-color: $light-blue
    text-decoration-skip: ink

  a:hover, a:active
    color: $dark-blue
