.footer
  display: flex
  margin-top: $spacing-xl
  padding: $spacing-lg
  background: $black
  color: $white

  .profile
    width: 120px
    height: 120px
    transition: all 250ms ease
    &:hover
      transform: rotate(-4deg)

  p
    margin-left: $spacing-lg