.site-header
  padding: $spacing-md $spacing-lg
  background: $black

  .logo
    color: $white
    font-family: $font-title
    font-size: $f4
    font-weight: 800
    text-transform: uppercase
    text-decoration: none
    letter-spacing: 0.5px
    display: inline-block
    transition: all 250ms ease

    &:hover, &:active
      color: $red
      transform: scale(1.05) skew(-5deg) rotate(-2deg)

    .amp
      color: $red
