.page

  .content
    margin: $spacing-lg
    max-width: $measure-wide
    line-height: $lh-copy

  header
    margin: $spacing-md
    padding: $spacing-md
    background: $light-gray

    h1
      margin: 0
      line-height: $lh-title
      font-weight: 400

  .job-company
    font-weight: 500

  .job-dates
    font-size: $f7
    font-style: italic

  .job-tech
    font-style: italic
    color: $light-silver
