.post

  .content
    margin: $spacing-lg
    max-width: $measure-wide
    line-height: $lh-copy

  .drop-cap
    text-transform: uppercase
    font-weight: 600

  header
    padding: $spacing-lg
    background: $near-white

    h1
      margin: 0 0 $spacing-xs 0
      font-size: $f3
      font-family: $font-title
      font-weight: 800

    h2
      margin: 0
      font-size: $f5
      font-weight: 300
      color: $mid-gray

    .byline
      font-size: $f8
      font-weight: 400
      margin-bottom: $spacing-sm
      color: $mid-gray

    .category
      font-size: $f7
      color: $black
      font-family: $font-title
      font-style: italic
      font-weight: 600
      text-transform: uppercase
      letter-spacing: $tracking-medium

    time
      padding: 0 $spacing-md
