.related-posts
  width: 320px
  margin: $spacing-lg

  .header
    font-family: $font-title
    font-size: $f7
    font-weight: 700
    font-style: italic
    text-transform: uppercase
    padding: $spacing-sm $spacing-md

  ul
    padding: 0
    margin: 0
    border: 1px solid $light-silver

  li
    list-style-type: none

  .post
    display: block
    text-decoration: none
    padding: $spacing-sm $spacing-md

    &:hover
      background: $red
      .post-title
        color: $white
      .post-date
        color: $white

    .post-title
      display: block
      font-family: $font-title
      font-size: $f6
      color: $black
      margin: 0

    .post-date
      display: block
      font-size: $f8
      font-weight: 400
      color: $mid-gray
      margin-bottom: $spacing-xs
