$font-normal = 'Supria-Sans', serif
$font-title = 'Supria-Sans-Condensed', sans-serif
$font-monospace = 'Source Code Pro', monospace

$viewport-sm = 'only screen and (min-width: 48em)'
$viewport-lg = 'only screen and (min-width: 64em)'
$viewport-xl = 'only screen and (min-width: 75em)'

$black = #000000
$white = #ffffff
$near-black = #111111
$mid-gray = #555555
$gray = #777777
$silver = #999999
$light-silver = #aaaaaa
$moon-gray = #cccccc
$light-gray = #eeeeee
$near-white = #f4f4f4
$light-blue = #96ccff
$lightest-blue = #cdecff
$blue = #357edd
$dark-blue = #00449e
$red = #ff4136
$light-red = #ff725c
$dark-red = #e7040f
$dark-green = #137752
$green = #19a974
$light-green = #9eebcf

$f1 = 6rem
$f2 = 5rem
$f3 = 3rem
$f4 = 2.25rem
$f5 = 1.5rem
$f6 = 1.25rem
$f7 = 1rem
$f8 = 0.875rem

$measure = 30em
$measure-wide = 34em
$measure-narrow = 20em

$lh-title = 1.25
$lh-copy = 1.5

$spacing-none = 0
$spacing-xs = .25rem
$spacing-sm = .5rem
$spacing-md = 1rem
$spacing-lg = 2rem
$spacing-xl = 4rem
$spacing-xxl = 8rem
$spacing-xxxl = 16rem

$tracking-medium = 0.04375em
$tracking-wide = 1em