@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/IBMPlexSans-VF.woff2") format(woff2);
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 200 900;
  font-style: italic;
  font-display: swap;
  src: url("../assets/fonts/IBMPlexSans-Italic-VF.woff2") format(woff2);
}

@font-face {
  font-family: "Commit Mono";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/CommitMono-VF.woff2") format(woff2);
}
