@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "SN Pro", "-apple-system", "sans-serif";
  --font-mono: "Commit Mono", "ui-monospace", "monospace";

  --color-spotify: #1db954;

  --color-light-primary: var(--color-gray-900);
  --color-light-secondary: var(--color-gray-600);
  --color-light-muted: var(--color-gray-400);
  --color-light-background: var(--color-white);
  --color-light-background-alt: var(--color-gray-200);
  --color-light-background-dim: var(--color-gray-100);
  --color-light-link: var(--color-gray-600);
  --color-light-link-hover: var(--color-blue-600);
  --color-light-divider: var(--color-gray-300);

  --color-dark-primary: var(--color-gray-100);
  --color-dark-secondary: var(--color-gray-400);
  --color-dark-muted: var(--color-gray-500);
  --color-dark-background: var(--color-gray-900);
  --color-dark-background-alt: var(--color-gray-700);
  --color-dark-background-dim: var(--color-gray-800);
  --color-dark-link: var(--color-slate-300);
  --color-dark-link-hover: var(--color-blue-300);
  --color-dark-divider: var(--color-gray-700);

  --color-primary: var(--color-light-primary);
  --color-secondary: var(--color-light-secondary);
  --color-muted: var(--color-light-muted);
  --color-background: var(--color-light-background);
  --color-background-alt: var(--color-light-background-alt);
  --color-background-dim: var(--color-light-background-dim);
  --color-link: var(--color-light-link);
  --color-link-hover: var(--color-light-link-hover);
  --color-divider: var(--color-light-divider);
}

.dark {
  --color-primary: var(--color-dark-primary);
  --color-secondary: var(--color-dark-secondary);
  --color-muted: var(--color-dark-muted);
  --color-background: var(--color-dark-background);
  --color-background-alt: var(--color-dark-background-alt);
  --color-background-dim: var(--color-dark-background-dim);
  --color-link: var(--color-dark-link);
  --color-link-hover: var(--color-dark-link-hover);
  --color-divider: var(--color-dark-divider);
}

html {
  margin-left: calc(100vw - 100%);
  margin-right: 0px;
  scroll-behavior: smooth;
  font-size: 18px;
  font-weight: 400;
  @apply bg-background;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@utility line-numbers-group {
  counter-reset: line-numbers;
}

@utility line-numbers {
  counter-increment: line-numbers 1;
  &:before {
    --tw-content: counter(line-numbers);
  }
}
