@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-feature-settings:
    'kern' 1,
    'liga' 1;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@layer base {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    padding: 0;
  }

  body {
    @apply p-0 m-0 text-lg leading-relaxed text-black dark:text-slate-50 bg-white dark:bg-slate-800 transition-colors;
  }

  #root {
    @apply flex flex-col;
  }

  em {
    @apply font-semibold;
  }
}

@layer utilities {
  .line-numbers-group {
    counter-reset: line-numbers;
  }
  .line-numbers {
    counter-increment: line-numbers 1;
  }
  .line-numbers:before {
    --tw-content: counter(line-numbers);
  }
  .three-d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
